:root {
  --12px-pr-rem: .75rem;
  --16px-pr-rem: 1rem;
  --24px-pr-rem: 1.5rem;
  --28px-pr-rem: 1.75rem;
  --32px-pr-rem: 2rem;
  --36px-pr-rem: 2.25rem;
  --40px-pr-rem: 2.5rem;
  --44px-pr-rem: 2.75rem;
  --48px-pr-rem: 3rem;
  --56px-pr-rem: 3.5rem;
  --68px-pr-rem: 4.25rem;
  --94px-pr-rem: 5.875rem;
  --348px-pr-rem: 21.75rem;
  --758px-pr-rem: 47.375rem;
  --970px-pr-rem: 60.625rem;
}